<div id="container" ng-controller="GiftsController as giftsCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
    	<span translate>login</span>
    	<span class="r-circle"><i class="glyphicon glyphicon-globe"></i></span>
    </div>
    <div class="panel-body">
      <form id="signin" role="form" ng-submit="giftsCtrl.login()" >
        <label for="username" translate>username</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="username" type="text" class="form-control" name="username" value="" placeholder="{{'insert-username'|translate}}" ng-model="inputUsername">
        </div>
        <br>
        <label for="password" translate>password</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="password" type="password" class="form-control" name="password" value="" placeholder="{{'insert-password'|translate}}" ng-model="inputPassword">  
        </div>
        <br>
        <button type="submit" class="btn btn-primary pull-right btn-login" translate>login</button>
      </form>
    </div>
  </div>
</div>