<div class="modal fade myModal" tabindex="-1" role="dialog" ng-controller="ProductsController as productsCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" translate>save-product</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="productsCtrl.saveProduct()">
          <div class="form-group">
            <input type="hidden" class="form-control" ng-model="inputId">
            <label translate>name</label>
            <input type="text" class="form-control" placeholder="{{'insert-name'|translate}}" ng-model="inputName">
          </div>
          <div class="form-group">
            <label translate>description</label>
            <input type="text" class="form-control" placeholder="{{'insert-desc'|translate}}" ng-model="inputDesc">
          </div>
          <div class="form-group">
            <label translate>cost</label>
            <input type="number" class="form-control" placeholder="{{'insert-cost'|translate}}" ng-model="inputCost">
          </div>
          <div class="form-group">
            <label translate>category</label>
            <select class="form-control" ng-model="inputCategory" ng-options="itemCategory.id as itemCategory.name for itemCategory in listCategories track by itemCategory.id">
              <option class="item-category" ng-repeat="itemCategory in listCategories" ng-click="productsCtrl.onclickCategorySelect(itemCategory.id)" value="itemCategory.id">{{itemCategory.name}}
              </li>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" translate>save</button>
        </form>
      </div>
    </div>
  </div>
</div>