<span class="span-name"></span>
<a href="#" class="close-session" ng-controller="GiftsController as giftsCtrl" ng-click="giftsCtrl.logout()" translate>close-session</a>
<div class="container-products" ng-controller="ProductsController as productsCtrl">
	<div class="header-list">
		<h3 translate>products</h3>
		<button type="button" class="btn btn-light" ng-click="productsCtrl.onclickCreate()" translate>create</button>
	</div>
	<div class="container-list">
		<div class="left-panel col-md-3">
			<h4 class="title-categories" translate>categories</h4>
			<ul class="list-categories">
				<li class="item-category" ng-repeat="itemCategory in listCategories" ng-click="productsCtrl.onclickCategory(itemCategory.id)" ng-class="{'active':activeCategory == itemCategory.id}">
					<span class="glyphicon glyphicon-tags"></span>
					<span class="text-category">{{itemCategory.name}}</span>
				</li>
			</ul>
		</div>
		<div class="right-panel col-md-9">
			<ul class="list-products">
				<li class="item-product" ng-repeat="itemProduct in listProducts">
					<div class="div-text-product col-md-8">
						<span class="name-product">{{itemProduct.name}}</span>
						<span class="descpription-product">{{itemProduct.description}}</span>
						<span class="cost-product">${{itemProduct.cost}}</span>
					</div>
					<div class="div-buttons-product col-md-4">
						<button type="button" class="btn btn-danger" translate ng-click="productsCtrl.onClickDelete(itemProduct.id)">delete</button>
						<button type="button" class="btn btn-primary" translate ng-click="productsCtrl.onClickEdit(itemProduct.id)">edit</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>