$color_login: #460DCE !important;
$color_letter_login: #FFF;

@mixin all-width(){
  width: 100%;
  height: 100%;
  float: left;
}

@mixin full-width(){
  width: 100%;
  float: left;
}

@mixin width-buttons(){
  width: 77px;
  float: right;
}

* {
  user-select: none !important;
  outline: none !important;
}

html {
  @include all-width();
}

body {
  @include all-width();
  background-color: #CECBCB;
}

#main {
  @include all-width();
}

.cont-view {
  @include all-width();
}
 
#container {
  max-width: 500px;
  min-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Ubuntu', sans-serif;
}

.span-name {
  margin-left: 5%;
  color: #273492;
  font-weight: bold;
  float: left;
}

.input-group-addon {
  background: #fafafa;
}

.panel {
  border-radius: 3px;
  font-weight: bold;
  margin-bottom: 0;
  background-color: #FFF !important;
}

input, 
select {
  font-weight: initial;
  border: 1px solid $color_login;

  &:focus {
    box-shadow: none !important;
    border: 1px solid $color_login;
    background: #FAFAFA;
  }
}

.input-group .input-group-addon {
  background: $color_login;
  transition: 0.5s;
  border-color:$color_login;

  i {
    color: $color_letter_login;
    transition: 0.5s;
  }
}


label {
  font-weight: initial;
}

.btn-login {
  border-color: $color_login;
  border-radius: 2px !important;
  background: transparent !important;
  color: #000 !important;
  padding: 7px 30px !important;

  &:hover {
    background: #733FF1 !important;
    color: #FFF !important;
  }
  &:active {
    background: $color_login;
    color: #FFF !important;
  } 
}

.panel-heading {
  background: $color_login;
  border-color: $color_login;
  color: $color_letter_login !important;
}

.r-circle {
  width: 25px;
  height: 25px;
  background: white;
  z-index: 50;
  position: absolute;
  border-radius: 100%;
  border: 2px solid #fffce5;
  right: 10px;
  color: #a07223;
  margin-top: -3px;

  i {
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color_login;
  } 
}

.close-session {
  float: right;
  margin-right: 5%;
}

.container-products {
  width: 90%;
  margin: 0 auto;
  height: 90%;
  background-color: #FFF;

  .header-list {
    background-color: #273492;
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
    height: 76px;

    h3 {
      width: 80%;
      float: left;
    }

    .btn-light {
      float: right;
      margin-top: 12px;
      width: 77px;
    }
  }

  .container-list {
    @include all-width();

    .left-panel {
      border-right: 1px solid #CECBCB;
      height: 100%;
      padding: 0;

      .title-categories {
        background-color: #EBEBEB;
        margin: 0;
        padding: 10px 15px;
        color: #273492;
      }

      .list-categories {
        list-style: none;
        padding: 5px 15px;

        .item-category {
          padding: 10px 5px;
          cursor: pointer;

          .glyphicon-tags {
            margin-right: 5px;
          }

          &:hover {
            background-color: #EBEBEB;
          }
        }
        .item-category.active {
          background-color: #EBEBEB;
        }
      }
    }

    .right-panel {
      padding: 0;
      height: 100%;

      .list-products {
        padding: 0;
        list-style: none;

        .item-product {
          @include full-width();
          padding: 5px 0;
          border-bottom: 1px solid #CECBCB;
          height: 79px;

          .div-text-product {
            height: 100%;

            .name-product {
              @include full-width();
              font-size: 20px;
              font-weight: bold;
            }

            .descpription-product {
              @include full-width();
            }

            .cost-product {
              @include full-width();
            }
          }

          .div-buttons-product {
            height: 100%;
            padding-top: 18px;

            .btn-primary {
              @include width-buttons();
              margin-right: 15px;
            }

            .btn-danger {
              @include width-buttons();
            }
          }
        }
      } 
    }
  }
}